<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">
  <!-- Seu site -->

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container border-0 my-5">
    <div class="row no-gutters bg-dark text-light" style="position: relative">
      <div class="col-md-5">
        <img src="<%= imagem %>" alt="" class="img-fluid">
      </div>
      <div class="col-md-7 p-4" style="padding-bottom: 78px !important;">
        <h2><%= titulo %></h2>
        <a class="text-light font-ligh font-80" href="<%= mapa %>" target="_blank"><span class='mdi mdi-map-marker text-warning'></span> <%= localidade %> - <%= cidade %> / <%= uf %></a>

        <div class="font-80 mt-3"><%= descricao %></div>

        <div class="menu-evento">
          <a href="#" class="btn btn-success btn-facil-comprar border-0 rounded-0 btn-inline px-3 disabled">Comprar</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <h3 class="text-light">Periodo do evento:</h3>
    <div class="border border-secondary bg-dark border-0 rounded-0 pt-2 mt-3 mb-5">
      <div class="slide-date-ingressos mb-3">
        <ul id="listAbaData" class="text-light"></ul>
        <button type="button" name="button" class="prev bg-dark">
          <span class="mdi mdi-chevron-left mdi-24px text-light"></span>
        </button>
        <button type="button" name="button" class="next bg-dark">
          <span class="mdi mdi-chevron-right mdi-24px text-light"></span>
        </button>
      </div>
      <div class="box-tipo-ingressos">
        <form id="formTiposIngressos">
          <ul id="listDetalhesIngresso" class='m-0 p-0'></ul>
        </form>
      </div>
    </div>
  </section>


  <%- include('../public/include/preFooter.html') -%>

  <%- include('../public/include/footer.html') -%>



  <!-- JavaScript jquery -->
  <script src="/libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="/libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="/libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>
  <!-- Sly Slide -->
  <script src="/libraries/sly/sly.min.js" charset="utf-8"></script>

  <script src="/libraries/purl/purl.min.js" charset="utf-8"></script>

  <script src="/libraries/moments/moment.min.js" charset="utf-8"></script>
  <script src="/libraries/moments/pt-br.js" charset="utf-8"></script>

  <script src="/libraries/include/myInclude.js" charset="utf-8"></script>

  <script src="/javascripts/mask.js" charset="utf-8"></script>
  <script src="/javascripts/root.js" charset="utf-8"></script>
  <script src="/javascripts/diretivas.js" charset="utf-8"></script>

  <script type="text/javascript">
  $(function () {

    var _periodos = <%- JSON.stringify(periodos) %>

    var $wrap  = $('.slide-date-ingressos').parent()
    var slyOptions = {
      horizontal: 1,       itemNav: 'centered',
      smart: 1,            activateMiddle: 1,
      activateOn: 'click', mouseDragging: 1,
      touchDragging: 1,    releaseSwing: 1,
      startAt: 0,          scrollBy: 1,
      speed: 300,          elasticBounds: 1,
      easing: 'linear',    dragHandle: 1,
      dynamicHandle: 1,

      // Buttons
      prev: $wrap.find('.prev'),
      next: $wrap.find('.next')
    }

    var frame = new Sly('.slide-date-ingressos', slyOptions, {
      active: function (e, i) {
        $('.box-tipo-ingressos ul .active').removeClass('active')
        $($('.box-tipo-ingressos ul li')[i]).addClass('active')
      }
    })


    _periodos.forEach(function (elem, index, arr) {
      $("#listAbaData").append(dir.abaDataEvento(elem))
      $("#listDetalhesIngresso").append(dir.detalhesIngresso(elem))

      if(1+index === arr.length) {
        frame.init()
      }
    })

    // function atualizaTotal() {
    //   var $list = $('.ingressoValue')
    //   var $tfoot = $('.table-resumo tfoot')
    //   var _total = 0
    //
    //   $list.each(function () {
    //     _total += mask.desFormatValor( $(this).text() )
    //   })
    //
    //   _total ? $bComprar.removeAttr("disabled") : $bComprar.attr("disabled", true)
    //   $tfoot.html("<tr><td colspan='3' class='text-right'>Total</td><td class='text-right'>"+mask.formatValor(_total)+"</td></tr>")
    // }
    //
    // function povoaTabela(obj) {
    //   var _obj = obj
    //   var $table = $('.table-resumo')
    //   var $tr = $("#"+_obj.id)
    //
    //   if(!$tr[0]){
    //     $table.find('tbody').append("<tr id='"+_obj.id+"'><td>"+_obj.nome+"</td><td class='text-center'>"+moment(_obj.data).format('DD/MM/YYYY')+"</td><td class='ingressoQtd text-center'>"+_obj.quantidade+"</td><td class='ingressoValue text-right'>"+mask.formatValor(_obj.quantidade*_obj.valor)+"</td></tr>")
    //     atualizaTotal()
    //   }else{
    //     if (parseInt(_obj.quantidade) > 0) {
    //       $tr.find(".ingressoQtd").text(_obj.quantidade)
    //       $tr.find(".ingressoValue").text(mask.formatValor(_obj.quantidade*_obj.valor))
    //       atualizaTotal()
    //     }else{
    //       $tr.remove();
    //       atualizaTotal()
    //     }
    //   }
    // }
    //
    // function controleQtd() {
    //   /* Escolhendo quantidade dos ingressos */
    //   $('.qtdIngressos .minus').on('click', function () {
    //     $input = $(this).next()
    //     if(parseInt($input.val()) > 0){
    //       $input.val( parseInt($input.val()) - 1 )
    //
    //       ingressos.forEach(function (e) {
    //         if (e.id == $input[0].name) {
    //           e.quantidade = $input.val()
    //           povoaTabela(e)
    //         }
    //       })
    //     }
    //   })
    //   $('.qtdIngressos .plus').on('click', function () {
    //     $input = $(this).prev()
    //     max = parseInt( $input.parent().find('.valueMax').val() )
    //     if (parseInt($input.val()) < max){
    //       $input.val( parseInt($input.val()) + 1 )
    //
    //       ingressos.forEach(function (e) {
    //         if (e.id == $input[0].name) {
    //           e.quantidade = $input.val()
    //           povoaTabela(e)
    //         }
    //       })
    //     }
    //   })
    // }
    //
    // $('#formTiposIngressos').on("submit", function( event ) {
    //   event.preventDefault()
    //   var tiposIngressos = []
    //   $( this ).serialize().split('&').forEach(function(e) {
    //     tiposIngressos[e.split('=')[0]] = e.split('=')[1]
    //   })
    //   console.log(tiposIngressos);
    // })
  })
  </script>
</body>
</html>
